@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
:root {
  --main-color: #9356DC;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --background-grey: #f6f6f6;
}

@keyframes fav-anim {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  15% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.75;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
}
* {
  font-family: "Roboto";
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 14px;
}
.header .back-button {
  position: absolute;
  top: 20px;
  left: 17px;
  font: var(--fa-font-solid);
  font-size: 25px;
}
.header .back-button a {
  color: #000000;
}

body {
  width: 100%;
  margin: 0;
}

.logo {
  height: 36px;
  padding: 14px 89px 13px 89px;
}

.location {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  text-align: center;
}
.explore__title {
  font-size: 24px;
  font-weight: 700;
}
.explore__subtitle {
  font-size: 18px;
  font-weight: 300;
}
.explore .explore__button {
  border: none;
  justify-content: center;
  width: 218px;
  display: flex;
  align-items: center;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(0deg, #9356DC, #ff79da);
  border-radius: 25px;
  font-size: 17px;
  margin-bottom: 57px;
  box-shadow: 0px 5px 8px rgba(53, 53, 53, 0.3);
  cursor: pointer;
}
.explore .explore__button:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 10px rgba(53, 53, 53, 0.8);
  transition: all 400ms;
}

.howto {
  margin-top: 25px;
  margin-bottom: 40px;
}
.howto__title {
  padding-top: 30px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
}
@media all and (min-width: 1024px) {
  .howto__title {
    padding-left: 180px;
  }
}
.howto__list {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 1024px) {
  .howto__list {
    width: auto;
    padding: 0px 180px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.howto .step {
  display: flex;
  align-items: center;
  width: 85%;
  margin-left: 32px;
  border-radius: 20px;
  height: 72px;
  background-color: #f6f6f6;
  gap: 5%;
  margin-bottom: 25px;
  box-shadow: 0px 5px 8px rgba(53, 53, 53, 0.3);
}
@media all and (min-width: 1024px) {
  .howto .step {
    min-width: 300px;
    max-width: 300px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.howto .step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -10px;
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 50%;
  min-width: 24px;
  height: 24px;
}
@media all and (min-width: 1024px) {
  .howto .step__number {
    left: -15px;
  }
}
.howto .step__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  width: 16px;
}
.howto .step__text {
  font-size: 16px;
  font-weight: 500;
  width: 211px;
}
.howto .step:hover i {
  color: #9356DC;
  transition: color 500ms ease;
}

.restaurants {
  gap: 18px;
  background-color: #f6f6f6;
}
.restaurants__title {
  padding-top: 30px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
}
@media all and (min-width: 1024px) {
  .restaurants__title {
    padding: 30px 180px;
  }
}
.restaurants__list {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 1024px) {
  .restaurants__list {
    width: 75%;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 100px;
  }
}
.restaurants .cards {
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
  margin-bottom: 35px;
}
@media all and (min-width: 1024px) {
  .restaurants .cards {
    width: 40%;
    max-width: 490px;
    height: 251px;
    margin: 0;
  }
}
.restaurants .cards__picture {
  display: flex;
  margin-bottom: 5px;
}
.restaurants .cards__picture img {
  align-self: stretch;
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media all and (min-width: 1024px) {
  .restaurants .cards__picture img {
    height: 174px;
    max-height: 174px;
    max-width: 500px;
  }
}
.restaurants .cards__picture--new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #008766;
}
.restaurants .cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.restaurants .cards .card-title {
  font-size: 18px;
  padding-top: 4px;
  margin: 0;
}
.restaurants .cards .card-subtitle {
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 8px;
  margin: 0;
}
.restaurants .cards .card-favorite {
  position: absolute;
  top: 73%;
  right: 7%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 15px;
}
.restaurants .cards .favorite-button {
  width: 28px;
  z-index: 1;
  position: relative;
  font-size: 25px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}
.restaurants .cards .favorite-button:hover::after {
  z-index: 2;
  animation: fav-anim 800ms forwards cubic-bezier(0.65, 1.01, 0.98, 1.06);
}
.restaurants .cards .favorite-button::after {
  z-index: 0;
  opacity: 0;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  font: var(--fa-font-solid);
  font-size: 25px;
  content: "\f004";
  color: transparent;
  background: linear-gradient(0deg, #9356DC, #ff79da);
  background-clip: text;
  transform-origin: bottom;
  -webkit-text-stroke: 1px;
}
.restaurants .cards .card-link {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  background: var(--main-bg-color);
  margin-top: 0;
  width: 100%;
  background-color: #353535;
  color: #ffffff;
}
@media all and (min-width: 1024px) {
  .footer {
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.footer .section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}
@media all and (min-width: 1024px) {
  .footer .section {
    flex-direction: row;
  }
}
.footer .footer-title {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  font-style: normal;
}
@media all and (min-width: 1024px) {
  .footer .footer-title {
    order: 2;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: 5px;
    padding-left: 16px;
  }
}
.footer .footer-link {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  padding-right: 5px;
}
.footer .footer-link i {
  width: 30px;
}
@media all and (min-width: 1024px) {
  .footer .footer-link {
    order: 1;
  }
}
.footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  gap: 15px;
}
@media all and (min-width: 1024px) {
  .footer ul {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.restaurant-picture {
  height: 275px;
  width: 375px;
  position: relative;
}
@media all and (min-width: 1024px) {
  .restaurant-picture {
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  position: relative;
  top: -20px;
  z-index: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -20px;
}
@media all and (min-width: 1024px) {
  .menu {
    width: 60%;
    justify-content: center;
    margin-left: 20%;
  }
}
.menu .establishment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #101010;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  margin-left: 13px;
  margin-bottom: 0;
}
.menu .establishment .favorite-button {
  position: relative;
  right: 40px;
  top: 23px;
  padding: 0;
  width: 28px;
  z-index: 1;
  position: relative;
  font-size: 25px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
  margin: 0;
  height: 28px;
}
.menu .establishment .favorite-button:hover::after {
  z-index: 2;
  animation: fav-anim 800ms forwards cubic-bezier(0.65, 1.01, 0.98, 1.06);
}
.menu .establishment .favorite-button::after {
  z-index: 0;
  opacity: 0;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  font: var(--fa-font-solid);
  font-size: 25px;
  content: "\f004";
  color: transparent;
  background: linear-gradient(0deg, #9356DC, #ff79da);
  background-clip: text;
  transform-origin: bottom;
  -webkit-text-stroke: 1px;
}
@media all and (min-width: 1024px) {
  .menu .establishment .favorite-button {
    right: -10px;
    top: 33px;
  }
}
@media all and (min-width: 1024px) {
  .menu .establishment {
    justify-content: center;
    padding-top: 10px;
  }
}
.menu .categories {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 13px;
  margin-right: 13px;
}
.menu .categories__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
.menu .categories__title::after {
  display: block;
  position: relative;
  bottom: -5px;
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
@media all and (min-width: 1024px) {
  .menu .categories__title {
    position: relative;
    right: 30%;
  }
}
@media all and (min-width: 1024px) {
  .menu .categories {
    align-items: center;
  }
}
.menu .order {
  display: flex;
  justify-content: center;
  align-self: center;
  display: flex;
  align-items: center;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(0deg, #9356DC, #ff79da);
  border-radius: 25px;
  font-size: 17px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 186px;
  height: 50px;
  border: none;
  box-shadow: 0px 5px 8px rgba(53, 53, 53, 0.3);
}
.menu .order:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 10px rgba(53, 53, 53, 0.8);
  transition: all 400ms;
}

.fade-in {
  transform-origin: top;
  animation: fade-in 2s forwards;
}
.fade-in--1delay {
  animation: fade-in 2s 750ms both;
}
.fade-in--2delay {
  animation: fade-in 2s 1500ms both;
}

.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 8px rgba(53, 53, 53, 0.3);
  overflow: hidden;
  cursor: pointer;
}
@media all and (min-width: 1024px) {
  .item {
    width: 70%;
  }
}
.item:hover > .item__confirm {
  margin-right: 0px;
}
.item:hover > .item__confirm::after {
  transform: rotate(360deg);
}
.item__content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin: 2%;
  gap: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.item__info h3 {
  border: 0;
  height: 21px;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__info p {
  height: 19px;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__price {
  display: flex;
  align-items: flex-end;
  width: 15%;
  padding: 5px;
}
.item__price p {
  margin: 0;
  font-weight: 700;
}
.item__confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 15%;
  margin-right: -15%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  transition: margin-right 800ms ease;
}
.item__confirm::after {
  display: inline-block;
  margin: auto;
  font: var(--fa-font-solid);
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #ffffff;
  transition: transform 800ms ease;
}

/*# sourceMappingURL=styles.css.map */
